@import "partials/recipes";
@font-face {
  src: url(../fonts/charmonman-regular-webfont.woff);
  font-family: "Charmonman";
}
@font-face {
  src: url("../fonts/opensans-regular-webfont.woff");
  font-family: "Opensans";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



