// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass
body{
  background-color: #BADA55;
}
.app_content{               //wymiary są wstępne, a kolor zgadza się z tym co widać na makiecie z UXPin
  width: 1000px;            //Trzeba to jeszcze spozycjonować w tym co robi Nikola
  height: 800px;
  border: 1px dashed rgb(161, 161, 148);
}

.title {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.recipes {
  display: flex;
  justify-content: center;
  table , td, th {
    border: 1px black solid;
  }
  table{
    width: 80%;
    .id {
      width: 10%;
    }
    .name {
      width: 15%;
    }
    .opis {
      width: 40%;
    }
    .action {
      width: 15%;
    }
    .week {
      width: 15%;
    }
  }
}