.about {
  background-color: #EBEBEB;
  color: black;
}
.main-width {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  align-items: flex-start;
  .client__photo {
    height: 250px;
    width: 250px;
    margin-left: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #5B605F;
  }
  .client__described {
    width: 60%;
    margin: 25px 60px;
    h2 {
      padding-bottom: 30px;
      font-weight: normal;
      font-size: 1.8rem;
    }
  }
}

