@import "scss_Variables";
.about {
  width: 100vw;
  height: 400px;
  color: $color_Header_TextColumns;
  background-color: $color_ScreenBackground;
}
.main_width {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.client__photo {
  height: 300px;
  width: 300px;
  background-image: url("https://www.wprost.pl/_thumb/59/7b/770a5bb731acf4b675d215d4da5f.jpeg");
  opacity: 0.9;
  background-size: contain;
}

  .client__described {
    text-align: left;
    width: 60%;
  }

.client__described h2 {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}
.client__described p{
  font-size: 20px;
}

