@mixin bottomBorder {
  & {
    border-bottom: 2px solid #CBCBCB;
  }
}

.newrecipe {
  i {
    cursor: pointer;
    font-size: 16px;
    padding-left: 4px;
  }

  margin: 20px auto;
  width: 90%;
  height: 90%;

  .newrecipe_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    @include bottomBorder;

    .app_content_header {
      font-size: 24px;
      color: $appHeaderFontColor;
      text-transform: uppercase;
    }

    #save_recipe {
      background: $appHeaderFontColor;
      width: 148px;
      height: 33px;
      font-size: 16px;
      font-weight: 700;
      color: white;
      border: none;
      cursor: pointer;
    }

  }

  .container {
    width: 96%;
    margin: 0 auto;
    font-size: 24px;
    color: $navigBackgroundColor;


    .recipe_info {
      font-size: 24px;
      color: $navigBackgroundColor;
      margin: 10px 0;

      span {
        width: 230px;
        display: inline-block;
        letter-spacing: 2px;
      }

      input {
        width: 626px;
        height: 30px;
        font-family: 'Open sans', Arial, sans-serif;
        padding-left: 5px;
      }

      textarea {
        width: 626px;
        font-size: 14px;
        line-height: 18px;
        max-height: 100px;
        font-family: 'Open sans', Arial, sans-serif;
        resize: none;
        padding-left: 5px;
      }

      &:nth-child(2) {
        span {
          transform: translate(0, -217%)
        }
      }

    }

    .box {
      width: 49%;
      height: 445px;
      //border: 1px solid black;
      display: inline-block;


      p {
        text-transform: uppercase;
        width: 100%;
        @include bottomBorder;
      }

      textarea, input{
        width: 85%;
        resize: none;
        display: inline-block;
        margin: 10px 0 0 5%;
        font-family: 'Open sans', Arial, sans-serif;
      }

      input {
        height: 37px;
        margin-bottom: 24px;
      }

      .plus {
        font-size: 30px;
        color: #468966;
        transform: translate(0, -100%);
      }


      .list_container {
        width: 90%;
        height: 75%;
        transform: translate(10%, 0);
        font-size: 16px;
        overflow-y: scroll;

        ol, ul {
          width: 95%;
          transform: translate(5%, 0);
        }
      }

      &:last-child {
        .plus {
          transform: translate(0, 6%)
        }
      }
    }

    &.boxes {
      display: flex;
      justify-content: space-between;
    }
  }
}