.main__width {
  width: 85%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.cta {
  width: 100vw;
  background-color: #4A4A49;
  .cta__description {
    width: 65%;
    margin: 25px 0;
    h3 {
      padding-bottom: 15px;
      font-weight: normal;
      font-size: 2rem;
    }
  }
  .cta__button {
    margin: 25px 0;
    button {
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      width: 160px;
      height: 40px;
      background-color: #FF6600;
      cursor: pointer;
    }
  }
}
