// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass
@import "scss_Variables";
.header_landingpage {
  background-color: #4a4a49;
  width: 100vw;
  padding: 10px 0;
  height: 100px;
  font-family: $fontOpenSans;
}
.main_width{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
  width: 40%;
  padding-bottom: 15px;
  #logo__first {
    font-weight:100;
    color: white;
    font-family: $fontCharmonman;
  }
  #logo__second {
    color: $color_ButonsOrange_Highlights_Screenheaders;
    font-weight: 700;
    font-family: $fontCharmonman;
  }
}

.menu__list {
  list-style: none;
  li {
    display: inline-block;
    a {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 30px;
      &:hover {
        color: $color_ButonsOrange_Highlights_Screenheaders;
      }
    }
  }
}

