body {
  width: 100vw;
  background-color: #FFFFFA;
}
.main-width {
  width: 100%;
  margin: 0 auto;
}
  header {
    height: 100px;
    width: 100%;
    background-color: #4a4a49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 100px;
  }

  .first, .second {
    font-family: "Charmonman", Arial, sans-serif;
  }

  .first {
    font-weight: 100;
    color: white;
  }

  .second {
    color: #FF6600;
    font-weight: 700;
  }

.main_login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_name {
  color: white;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 20px;
  padding-right: 40px;
}

.user_icon {
  color: #FF6600;
  font-size: 40px;
}

section {
  display: flex;
  flex-direction: row;
}

.left_side_nav {
  width: 300px;
  background-color: #5B605F;
  height: 900px;
}

.nav_box {
  width: 300px;
  height: 70px;
  display: flex;
  flex-direction: row;
}
.nav_box_main .button {
  background-color: #292F32;
  border-left: 7px solid #E58A20;
}
.button {
  height: 70px;
  width: 300px;
  background-color: #5B605F;
  color: white;
  padding-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Opensans", Arial, sans-serif;
  text-align: left;
  border: none;
  letter-spacing: 1px;
  position: relative;
}

.button:hover {
  background-color: #292F32;
  border-left: 7px solid #E58A20;

  .arrow {
    display: inline-block;
    position: absolute;
    right: 10px;
    color: #FF6600;
  }
}

.arrow {
  display: none;
}

.background {
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 900px;
}
.app_content {
  margin: 50px auto;
  width: 90%;
  height: 85%;
  border: 1px dashed #a1a194;
  background-color: #FFFFFA;
}
.widget {
  display: none;
}

