.app_content_main {
  display: none;
}
.dashboard {
  height: 800px;
  width: 100%;
}
.widget {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  &__buttons{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__add {
    width: 27%;
    height: 100%;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dashed #468966;
    background-color: #FFFFFA;
    .fa-plus-square{
      font-size: 100px;
      color: #468966;
    }
    h3 {
      color: #468966;
      font-size: 1.5em;
      font-weight: 600;
    ;
    }
  }
  .notes {
    width: 55%;
    height: 100%;
    .note {
      width: 100%;
      background-color: #FFFFFA;
      display: flex;
      justify-content: space-between;
      border: 1px dashed;
      height: 30%;
      padding: 10px;
      margin-bottom: 12px;
      p {
        font-size: 1.5em;
        font-weight: 600;
        margin-left: 30px;
      }
      .fa-window-close {
        font-size: 20px;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .note_circle {
        font-size: 47px;
      }
    }
    .note-info {
      color: #3498DB;
      border-color: #3498DB;
    }
    .note-reminder {
      color: #FFB03B;
      border-color: #FFB03B;
    }
    .note-agree {
      color: #468966;
      border-color: #468966;
    }
  }
}
.plan_box {
  margin: 0 auto;
  height: 65%;
  width: 95%;
  background-color: #FFFFFA;
  border: 1px dashed #a1a194;
  position: relative;
  .previous {
    position: absolute;
    bottom: 7%;
    left: 2%;
    color: #FF6600;
    cursor: pointer;
    span {
      font-weight: 900;
    }
  }
  .next {
    position: absolute;
    bottom: 7%;
    right: 2%;
    color: #FF6600;
    cursor: pointer;
    span {
      font-weight: 900;
    }
  }
  &_title {
    text-align: center;
    font-size: 28.8px;
    font-weight: 900;
    color: #FF6600;
    margin: 15px 0;
    font-family: Arial, sans-serif;

  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 70%;
    width: 90%;
    margin: 0 auto;
    grid-gap: 10px;
    position: relative;
    font-size: 20px;
    color: #5B605F;
    align-items: center;
    word-break: break-word;
    .border_box {
      grid-column: 1/-1;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 102%;
        height: 2px;
        background-color: #cbcbcb;
        left: -2%;
        top: 0;
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 102%;
      height: 2px;
      background-color: #cbcbcb;
      left: -2%;
      top: 0;
    }
    .title_row {
      margin-top: 15px;
      grid-row: 1;
      grid-column: 1/-1;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr;
      position: relative;

      @for $i from 1 through 7 {
        .day-#{$i} {
          grid-column: $i;
          align-self: center;
          font-size: 1.4rem;
          word-break: break-all;
          color: #5B605F;
          h3 {
            font-family: Arial, sans-serif;
          }
        }
      }
    }


  }
}