.nav_box_schedules .button  {
  background-color: #292F32;
  border-left: 7px solid #E58A20;
  position: relative;
}
.addschedule{
  display: none;
}
.newschedule {
  i {
    cursor: pointer;
    font-size: 16px;
    padding-left: 4px;
  }

  margin: 0 auto;
  width: 100%;
  height: 100%;

  .newschedule_header {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #cbcbcb;
      bottom: 0;
    }

    .app_content_header {
      font-size: 28.8px;
      color: $appHeaderFontColor;
      text-transform: uppercase;
    }

    #save_recipe {
      background: $appHeaderFontColor;
      width: 148px;
      height: 33px;
      font-size: 16px;
      font-weight: 700;
      color: white;
      border: none;
      cursor: pointer;

    }

  }

  .container {
    width: 96%;
    margin: 0 auto;
    font-size: 24px;
    color: $navigBackgroundColor;


    .schedule_info {
      color: #5b605f;
      font-weight: 900;
      font-size: 24px;
      margin: 15px 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;

      .fix {
        width: 75%;
        display: flex;
        align-items: center;
      }

      span {
        width: 210px;
        display: inline-block;
      }

      input {
        width: 75%;
        height: 30px;
        font-family: 'Open sans', Arial, sans-serif;
        padding-left: 5px;
      }

      textarea {
        width: 75%;
        font-size: 14px;
        line-height: 18px;
        max-height: 100px;
        font-family: 'Open sans', Arial, sans-serif;
        resize: none;
        padding-left: 5px;
      }

    }
  }
  .grid_box {
    margin: 30px auto;
    align-items: stretch;
    width: 93%;
    height: 60%;
    background-color: #FFFFFA;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.5fr repeat(7, 1fr);
    grid-gap: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 85%;
      height: 1px;
      background-color: #cbcbcb;
      bottom: 101%;
      left: 15%;
    }
    .meal_box {
      grid-column: 2/-1;
      grid-row: 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 20px;
      grid-auto-flow: row;
      @for $i from 1 through 5 {
        .meal-#{$i}{
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-size: 1.3em;
          font-weight: 900;
          color: #5b605f;
        }
      }
    }
    .day_box {
      grid-column: 1;
      grid-row: 2/-1;
      grid-gap: 20px;
      display: grid;
      grid-template-rows: repeat(7, 1fr);
      grid-template-columns: 1fr;
      text-align: center;
      font-size: 1.2em;
      font-weight: 100;
      color: #5b605f;
      text-transform: uppercase;
      align-items: center;
    }
    .input_box {
      grid-column: 2/-1;
      grid-row: 2/-1;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(7, 1fr);
      align-items: center;
      select {
        width: 100%;
        border-radius: 7px;
        background-color: #FFFFFA;
        height: 30px;
        &:focus {
          font-size: 1.1em;
        }
      }
    }
  }
}


//wyświetlanie listy
.nav_box_schedules .button  {
  background-color: #292F32;
  border-left: 7px solid #E58A20;
  position: relative;
}

.schedule__list {
  width: 97%;
  margin: 15px auto;

  .list__header, .entry {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 5px;

    .id {
      width: 7%;
    }

    .name {
      width: 23%;
    }

    .description {
      width: 49%;
    }

    .week {
      width: 10%;
    }

    .action {
      width: 10%;
      padding-left: 10px;
    }
  }
}
