$color_SidePanel_Navigation: #5B605F;
$color_Header_TextColumns: #4a4a49;
$color_ButonsOrange_Highlights_Screenheaders: #FF6600;
$color_ScreenBackground: #FFFFFA;
$color_Info: #3498DB;
$color_Message_warnings: #FFB03B;
$color_Message_SuccsessMesage: #468966;
$color_DontKnow: #BD4932;
$color_BasketIcon_TableLines_Icons: #A1A194;
$fontOpenSans:("Opensans", Arial, sans-serif);
$fontCharmonman:("Charmonman", Arial, sans-serif);
$fontSizeBasic: 14px;


